/*************** common 共通クラス ***************/
$devise_pc_min_width: 1024px;
$devise_tb_max_width: 1023px;
$devise_tb_min_width: 768px;
$devise_sp_max_width: 767px;
$devise_ssp_max_width: 320px;

@media (max-width: $devise_tb_max_width) {
  .pc-visibility {
    display: none !important;
    visibility: hidden;
  }
}
@media (min-width: $devise_pc_min_width) {
  .tb-visibility {
    display: none !important;
    visibility: hidden;
  }
}
@media (max-width: $devise_sp_max_width) {
  .tb-visibility {
    display: none !important;
    visibility: hidden;
  }
}
@media (max-width: $devise_sp_max_width) {
  .pc-tb-visibility {
    display: none !important;
    visibility: hidden;
  }
}
@media (min-width: $devise_pc_min_width) {
  .tb-sp-visibility {
    display: none !important;
    visibility: hidden;
  }
}
@media (min-width: $devise_tb_min_width) {
  .sp-visibility {
    display: none !important;
    visibility: hidden;
  }
}
@media (min-width: 321px) {
  .ssp-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@function vw($pixel) {
  @return (($pixel/375) * 100) + vw;
}

@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  color: #333333;
  font-size: 13px;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  letter-spacing: 0.025em;
  line-height: 21px;
  margin: 0 auto;
  max-width: 2000px;
  @media (max-width: $devise_sp_max_width) {
    font-size: vw(12);
    width: 100%;
  }
}

a {
  color: inherit;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  text-decoration: inherit;
}

img {
  width: 100%;
}

