/*
 * トップページ
 */

 .swiper {
  height: 100vh;
  width: 100%;
  @media (max-width: $devise_sp_max_width) {
    margin-top: vw(70);
    height: vw(600);
  }
}

///////  COMMUNITY（マルタ留学情報広場）　ページ　///////
section.experience-view-main {
  .community-main-page {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-top: 120px;
    position: relative;
    @media (max-width: $devise_sp_max_width) {
      margin-bottom: vw(20);
      padding-top: vw(80);
    }
    .community-title-pc {
      width: 100%;
      @media (max-width: $devise_sp_max_width) {
        display: none;
      }
    }
    .community-title-sp {
      @media (min-width: $devise_tb_min_width) {
        display: none;
      }
    }
  }
  .community-information-area {
    margin: 0 auto 50px;
    width: 1100px;
    @media (max-width: $devise_tb_max_width) {
      width: 100%;
    }
    @media (max-width: $devise_sp_max_width) {
      margin-bottom: 0;
      width: 100%;
    }
    .information-area {
      margin: 0 auto;
      margin-bottom: 50px;
      position: relative;
      width: 1100px;
      @media (min-width: $devise_tb_min_width) {
        width: 100%;
      }
      @media (max-width: $devise_sp_max_width) {
        margin-bottom: 0;
        width: 100%;
      }
      .community-box {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        @media (max-width: $devise_tb_max_width) {
          box-sizing: border-box;
          padding-left: 20px;
        }
        @media (max-width: $devise_sp_max_width) {
          box-sizing: border-box;
          display: flex;
          padding: 0 vw(20);
          width: 100%;
        }
        li {
          background-color: rgba(29, 179, 206, 0.2);
          border-radius: 15px;
          box-sizing: border-box;
          flex-wrap: wrap;
          margin-bottom: 30px;
          margin-right: 3%;
          padding: 15px;
          width: 31.3%;
          &:nth-of-type(3n) {
            margin-right: 0;
            @media (max-width: $devise_sp_max_width) {
              margin-right: 3%;
            }
          }
          @media (max-width: $devise_sp_max_width) {
            border-radius: vw(10);
            padding: vw(5);
            width: 48.5%;
            &:nth-of-type(2n) {
              margin-bottom: vw(30);
              margin-right: 0;
            }
          }
          .img-box {
            .bg-img {
              background-position: center;
              background-size: cover;
              padding-top: 74.4%;
            }
          }
          .txt-box {
            .tag-area {
              margin-bottom: 5px;
              text-align: left;
              .tag-time {
                > time {
                  color: #898989;
                  font-size: 10px;
                  @media (max-width: $devise_sp_max_width) {
                    font-size: vw(9);
                  }
                }
              }
              a,
              span {
                background-color: #1db3ce;
                border-radius: 4px;
                color: #ffffff;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 0.025em;
                line-height: 25px;
                padding: 4px 5px;
                @media (max-width: $devise_sp_max_width) {
                  border-radius: vw(4);
                  font-size: vw(11);
                  line-height: vw(25);
                  padding: vw(4) vw(5);
                }
              }
            }
            .list-title {
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.025em;
              line-height: 24px;
              margin-bottom: 10px;
              @media (max-width: $devise_sp_max_width) {
                text-align: left;
                font-size: vw(14);
                line-height: vw(19);
              }
            }
            .desc {
              font-size: 14px;
              height: 60px;
              letter-spacing: 0.025em;
              line-height: 20px;
              margin-bottom: 10px;
              overflow: hidden;
              @media (max-width: $devise_sp_max_width) {
                height: vw(70);
                padding: 0;
                font-size: vw(11);
                line-height: vw(17);
                margin-bottom: vw(5);
              }
            }
            > a {
              color: #1db3ce;
              @media (max-width: $devise_sp_max_width) {
                font-size: vw(12);
              }
              &:hover {
                cursor: pointer;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}

/////// SIMULATION 留学シミュレーション　///////
section.simulation-main-area {
  padding-top: 80px;
  @media (max-width: $devise_sp_max_width) {
    padding-top: vw(80);
  }
  .simulation-title-area {
    margin: 150px 0;
    position: relative;
    @media (max-width: $devise_sp_max_width) {
      margin-bottom: vw(250);
      margin-top: vw(130);
    }
  }
  .simulation-bg-main-box {
    .title-bg-img {
      .bg-callout {
        margin: 0 auto;
        position: relative;
        width: 500px;
        @media (max-width: $devise_sp_max_width) {
          width: 100%;
        }
        .title-bg-callout {
          height: 165px;
          left: -185px;
          width: 215px;
          position: absolute;
          top: -350px;
          @media (max-width: $devise_tb_max_width) {
            left: -121px;
          }
          @media (max-width: $devise_sp_max_width) {
            display: none;
          }
          img {
            width: 100%;
          }
        }
      }
      .title-bg-callout-sp {
        display: none;
      }
      .bg-phone {
        margin: 0 auto;
        position: relative;
        width: 200px;
        @media (max-width: $devise_sp_max_width) {
          width: 100%;
        }
        .title-bg-phone {
          height: 161px;
          left: -100px;
          width: 135px;
          position: absolute;
          top: -105px;
          @media (max-width: $devise_sp_max_width) {
            height: vw(80);
            left: vw(25);
            top: vw(-420);
            width: vw(67);
          }
          img {
            width: 100%;
          }
        }
      }
      .simulation-main-box {
        @media (max-width: $devise_sp_max_width) {
          position: relative;
        }
        .form-main-area-blue {
          @media (max-width: $devise_sp_max_width) {
            display: none;
          }
        }
        .simulation-box-title {
          background-color: #1db3ce;
          border-radius: 30px;
          height: 290px;
          margin: 0 auto;
          padding: 3px;
          width: 360px;
          @media (max-width: $devise_sp_max_width) {
            width: 88%;
            border-radius: vw(30);
            height: vw(290);
          }
          .inner-box {
            border: 2px dashed #fff;
            border-radius: 30px;
            box-sizing: border-box;
            //padding-bottom: 116px;
            height: 290px;
            @media (max-width: $devise_sp_max_width) {
              border-radius: vw(30);
              height: vw(290);
            }
          }
          .box-title {
            margin: 0 auto 20px;
            text-align: center;
            width: 190px;
            .box-title-top {
              padding-top: 22px;
              width: 110px;
              @media (max-width: $devise_sp_max_width) {
                padding-top: vw(22);
                width: vw(110);
              }
            }
            .box-title-bottom {
              padding-top: 12px;
              width: 190px;
              @media (max-width: $devise_sp_max_width) {
                padding-top: vw(12);
                width: vw(190);
              }
            }
          }
        }
        .select-list {
          margin: 0 auto 30px;
          position: relative;
          right: 15px;
          text-align: center;
          width: 255px;
          @media (max-width: $devise_sp_max_width) {
            left: vw(-15);
            width: vw(255);
          }
          @media (max-width: $devise_ssp_max_width) {
            width: 230px;
          }
          > li {
            background: #fff;
            border: 1px solid #fff;
            box-sizing: border-box;
            color: #1db3ce;
            cursor: pointer;
            line-height: 18px;
            list-style: none;
            padding: 5px 3px;
            position: relative;
            &:nth-last-of-type(n + 2) {
              margin-bottom: 5px;
              @media (max-width: $devise_sp_max_width) {
                margin-bottom: vw(10);
              }
            }
            &::before {
              background: #1db3ce;
              border: 1px solid #fff;
              box-sizing: border-box;
              content: "";
              height: calc(100% + 2px);
              right: -30px;
              position: absolute;
              top: -1px;
              width: 30px;
            }
            &::after {
              top: 8px;
              content: "";
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 13px solid #ffffff;
              position: absolute;
              right: -23px;
            }
            .option-list {
              border-left: 1px solid #1db3ce;
              border-top: 1px solid #1db3ce;
              box-sizing: border-box;
              color: #1db3ce;
              display: none;
              left: -1px;
              position: absolute;
              transition: border-top 2s ease-out, padding-top 2s ease-out,
                padding-bottom 2s ease-out;
              top: 30px;
              width: 255px;
              z-index: 5;
              @media (max-width: $devise_sp_max_width) {
                background: rgba(#1db3ce, 0.7);
                box-sizing: border-box;
                height: 100%;
                left: 0;
                overflow: scroll;
                padding: vw(150) vw(15);
                position: fixed;
                top: 0;
                width: 100%;
              }
              &::after {
                clear: both;
                content: "";
                display: block;
              }
              &.clicked {
                display: block;
              }
              &.one-column {
                li {
                  width: 100%;
                }
              }
              li {
                background: #fff;
                border-bottom: 1px solid #1db3ce;
                border-right: 1px solid #1db3ce;
                box-sizing: border-box;
                float: left;
                line-height: 28px;
                width: 25%;
                &.selected,
                &:hover {
                  background: #86c8da;
                  color: #fff;
                }
              }
            }
          }
        }
        .btn-view-simulation {
          background: #fff;
          border-radius: 22px;
          display: block;
          height: 45px;
          margin: 0 auto;
          position: relative;
          text-align: center;
          width: 270px;
          .btn-txt {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            vertical-align: top;
            width: 200px;
          }
          .btn-fish {
            bottom: 9px;
            position: absolute;
            right: 8px;
            width: 22px;
          }
        }
      }
      .simulation-bg-area {
        position: relative;
        .bg-rock-box {
          margin: 0 auto;
          position: relative;
          width: 500px;
          .bg-rock {
            height: 76px;
            left: -92px;
            width: 150px;
            position: absolute;
            bottom: 248px;
            @media (max-width: $devise_sp_max_width) {
              display: none;
            }
            img {
              width: 100%;
            }
          }
        }
        .bg-man-box {
          margin: 0 auto;
          position: relative;
          width: 500px;
          @media (max-width: $devise_sp_max_width) {
            width: 100%;
          }
          .bg-man {
            left: 400px;
            bottom: 243px;
            height: 207px;
            width: 232px;
            position: absolute;
            right: 0;
            z-index: -1;
            @media (max-width: $devise_tb_max_width) {
              left: 368px;
            }
            @media (max-width: $devise_sp_max_width) {
              height: vw(175);
              left: vw(155);
              top: vw(-530);
              width: vw(190);
              z-index: -1;
            }
            img {
              width: 100%;
            }
          }
        }
        .bg-wave {
          position: absolute;
          top: -255px;
          z-index: -1;
          @media (min-width: $devise_tb_min_width) {
            box-sizing: border-box;
            padding: 0 20px;
          }
          @media (max-width: $devise_sp_max_width) {
            display: none;
          }
          img {
            width: 100%;
            padding-bottom: 9px;
          }
        }
        .bg-wave-sp {
          @media (max-width: $devise_sp_max_width) {
            bottom: 0;
            position: absolute;
            top: vw(-385);
            z-index: -1;
          }
          @media (min-width: $devise_tb_min_width) {
            display: none;
          }
          img {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

/////// SCHOOL 学校紹介　///////
.school-main-title {
  box-sizing: border-box;
  padding-top: 200px;
  position: relative;
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(30);
    padding-top: vw(80);
  }
  .school-title-pc {
    width: 100%;
    @media (max-width: $devise_sp_max_width) {
      display: none;
    }
  }
  .school-title-sp {
    width: 100%;
    @media (min-width: $devise_tb_min_width) {
      display: none;
    }
  }
}
section.keyword_main_area {
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 45px;
  width: 1100px;
  @media (max-width: $devise_tb_max_width) {
    width: 100%;
  }
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(25);
    margin-top: vw(45);
    width: 100%;
  }
  .select_keyword_area {
    margin: 0 auto;
    width: 100%;
    .select_keyword {
      margin-bottom: 50px;
      margin-top: 30px;
      @media (max-width: $devise_tb_max_width) {
        box-sizing: border-box;
        margin-left: 0;
        margin-bottom: vw(0);
        margin-top: vw(10);
        padding: 0 vw(20);
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $devise_sp_max_width) {
          flex-wrap: wrap;
        }
        > li {
          border: 1px solid #1db3ce;
          border-radius: 5px;
          box-sizing: border-box;
          color: #1db3ce;
          font-size: 13px;
          font-weight: bold;
          list-style: none;
          margin-bottom: 10px;
          margin-right: 8px;
          padding: 4px 8px;
          @media (max-width: $devise_sp_max_width) {
            border: vw(1) solid #1db3ce;
            border-radius: vw(5);
            box-sizing: border-box;
            font-size: vw(12);
            line-height: vw(15.5);
            margin-right: vw(3);
            padding: vw(2) vw(6);
          }
          a {
            display: block;
          }
          &.clicked {
            background: #1db3ce;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }
  }
  .select-tag-area {
    margin: 30px auto 80px;
    width: 1100px;
    @media (max-width: $devise_tb_max_width) {
      width: 100%;
    }
    @media (max-width: $devise_sp_max_width) {
      margin-bottom: vw(50);
      margin-top: vw(30);
    }
    .select-box {
      display: flex;
      flex-wrap: wrap;
      font-size: 0;
      letter-spacing: 0;
      width: 100%;
      @media (max-width: $devise_tb_max_width) {
        box-sizing: border-box;
        display: flex;
        padding: 0 vw(20);
        width: 100%;
      }
      > li {
        background-color: rgba(#1db3ce, 0.2);
        border-radius: 15px;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-right: 3%;
        vertical-align: top;
        padding: 15px;
        width: 31.3%;
        &:nth-of-type(3n) {
          margin-right: 0;
          @media (max-width: $devise_sp_max_width) {
            margin-right: 3%;
          }
        }
        @media (max-width: $devise_sp_max_width) {
          border-radius: vw(10);
          display: block;
          flex-shrink: 0;
          margin-bottom: vw(30);
          margin-right: 3%;
          padding: vw(5);
          width: 48.5%;
          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
        .img-box {
          background-size: cover;
          background-position: top;
          border-radius: 10px;
          padding-top: 65%;
          position: relative;
          @media (max-width: $devise_sp_max_width) {
            border-radius: 0;
            padding-top: 74.4%;
          }
        }
        .list-title {
          border-bottom: 1px solid #ffffff;
          box-sizing: border-box;
          color: #333;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.1em;
          line-height: 26px;
          margin-top: 10px;
          padding-bottom: 5px;
          @media (max-width: $devise_sp_max_width) {
            font-size: vw(14);
            line-height: vw(20);
            word-break: break-all;
          }
        }
        .tag-list {
          display: flex;
          flex-wrap: wrap;
          li {
            background: #1db3ce;
            border-radius: 5px;
            box-sizing: border-box;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0.025em;
            line-height: 17.5px;
            margin-right: 3px;
            margin-top: 4px;
            padding: 0 5px;
            padding-top: 0;
            @media (max-width: $devise_sp_max_width) {
              font-size: vw(12);
              margin-bottom: vw(5);
            }
          }
        }        
        .desc {
          display: -webkit-box;
          font-size: 14px;
          line-height: 21px;
          margin-top: 10px;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; 
        }
      }
      .font_blue {
        margin-top: 10px;
        @media (max-width: $devise_sp_max_width) {
          margin-top: vw(10);
        }
        a,
        span {
          color: #1db3ce;
          font-size: 13px;
          letter-spacing: 0.025em;
          line-height: 17.5px;
        }
        a {
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .point-list {
        margin-top: 10px;
        > li {
          color: #333;
          font-size: 14px;
          letter-spacing: 0.05em;
          line-height: 24px;
          padding-left: 1em;
          text-indent: -1em;
          @media (max-width: $devise_sp_max_width) {
            font-size: vw(12);
            line-height: vw(20);
          }
        }
      }
    }
  } 
}

/////// 体験談 バナー ///////
.experience-search-banner {
  margin: 0 auto;
  width: 60%;
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(50);
    margin-top: vw(30);
    width: 94%;
  }
}

/////// FLOW マルタ留学の流れ　///////
section.flow-main-area {
  margin-top: 40px;
  @media (max-width: $devise_sp_max_width) {
    margin-top: vw(40);
  }
  .flow-main-bg {
    margin-top: 100px;
    position: relative;
    top: 3px;
    @media (max-width: $devise_sp_max_width) {
      display: none;
    }
    img {
      vertical-align: top;
    }
  }
  .flow-main-bg-sp {
    margin-top: vw(80);
    @media (min-width: $devise_tb_min_width) {
      display: none;
    }
    img {
      vertical-align: top;
    }
  }
  .flow-bg-blue {
    background-color: #1db3ce;
    padding-top: 80px;
    position: relative;
    top: 2px;
    @media (max-width: $devise_sp_max_width) {
      top: -1px;
      height: auto;
      padding-bottom: vw(20);
    }
    .flow-img-main-box {
      display: flex;
      //height: 245px;
      margin: 0 auto;
      padding-bottom: 60px;
      position: relative;
      width: 770px;
      @media (max-width: $devise_tb_max_width) {
        box-sizing: border-box;
        padding: 0 20px;
        width: 100%;
      }
      @media (max-width: $devise_sp_max_width) {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: vw(20);
        padding-bottom: vw(40);
      }
      > li {
        height: 245px;
        margin-right: 70px;
        width: 210px;
        @media (max-width: $devise_tb_max_width) {
          margin: 0 auto;
          margin-left: 10px;
          margin-right: 8%;
          width: 27%;
        }
        @media (max-width: $devise_sp_max_width) {
          margin: vw(40) auto 0;
          width: vw(210);
          height: auto;
        }
        &:nth-of-type(3) {
          margin-right: 0;
          @media (max-width: $devise_sp_max_width) {
            margin: vw(40) auto 0;
          }
        }
      }
      .img-box {
        cursor: pointer;
        height: 160px;
        width: 210px;
        @media (max-width: $devise_tb_max_width) {
          height: auto;
          width: 100%;
        }
        &:hover {
          opacity: 0.8;
        }
        img {
          width: 100%;
        }
      }
      .txt-box {
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: 0.025em;
        line-height: 43.75px;
        text-align: center;
        @media (max-width: $devise_sp_max_width) {
          margin-bottom: vw(15);
          font-size: vw(14);
        }
      }
      .txt-main {
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.025em;
        line-height: 21px;
        @media (max-width: $devise_sp_max_width) {
          font-size: vw(14);
          line-height: vw(21);
        }
      }
    }
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      bottom: -90px;
      border-top: 90px solid #1db3ce;
      border-right: 50vw solid transparent;
      border-left: 50vw solid transparent;
      margin: 0 auto;
      width: 0;
      @media (max-width: $devise_sp_max_width) {
        bottom: vw(-49);
        border-top: vw(50) solid #1db3ce;
        z-index: 7;
      }
    }
  }
}

/////// CONTACT お問い合わせ　///////
section.contact-main-page {
  box-sizing: border-box;
  cursor: unset;
  margin-bottom: 150px;
  margin-top: 200px;
  position: relative;
  padding: 0 20px;
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(80);
    margin-top: vw(80);
    padding: 0 vw(20);
  }
  .contact-bg-blue {
    margin: 0 auto;
    width: 830px;
    height: 430px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding-top: 100px;
    @media (max-width: $devise_tb_max_width) {
      background-color: #1db3ce;
      border-radius: 30px;
      background-image: none;
      width: 100%;
      height: auto;
      padding-bottom: 40px;
    }
    @media (max-width: $devise_sp_max_width) {
      border-radius: vw(30);
      height: auto;
      padding-bottom: vw(30);
    }
    .contact-title {
      padding-top: 40px;
      width: 98px;
      margin: 0 auto;
      @media (max-width: $devise_sp_max_width) {
        padding-top: vw(30);
        width: vw(98);
      }
    }
    .main-txt {
      margin-top: 10px;
      color: #ffffff;
      letter-spacing: 0.14em;
      line-height: 25px;
      text-align: center;
      @media (max-width: $devise_sp_max_width) {
        box-sizing: border-box;
        font-size: vw(10);
        line-height: vw(18);
        padding: 0 vw(10);
      }
    }
    .contact-txt-area {
      width: 670px;
      margin: 35px auto 0;
      padding-bottom: 20px;
      position: relative;
      text-align: center;
      @media (max-width: $devise_sp_max_width) {
        width: 94%;
        margin-top: vw(15);
        padding-bottom: vw(20);
      }
      .img-left {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: $devise_sp_max_width) {
          width: vw(60);
        }
      }
      .img-right {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: $devise_sp_max_width) {
          width: vw(60);
        }
      }
      .text-center {
        display: inline-block;
        .contact-txt {
          color: #ffffff;
          font-size: 20px;
          font-weight: bold;
          line-height: 21px;
          text-align: center;
          padding-top: 25px;
          @media (max-width: $devise_sp_max_width) {
            font-size: vw(18);
            line-height: vw(17);
          }
        }
        .contact-time {
          color: #ffffff;
          letter-spacing: 0.01em;
          line-height: 12px;
          margin: 0 auto;
          position: relative;
          width: 350px;
          @media (max-width: $devise_sp_max_width) {
            font-size: vw(12);
            line-height: vw(14);
            width: vw(190);
          }
          dl {
            display: flex;
            padding-top: 15px;
            text-align: left;
          }
          dt {
            width: 100px;
            @media (max-width: $devise_sp_max_width) {
              width: 75px;
            }
          }
        }
      }
    }
  }
}

/////// よくある質問 ///////
section.faq-list-area {
  border-bottom: 2px solid #1db3ce;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 1100px;
  padding-bottom: 8px;
  padding-top: 120px;
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(80);
    padding-bottom: vw(30);
    padding-top: vw(80);
    max-width: 100%;
  }
  .faq-list-border {
    border-top: 5px solid #1db3ce;
    position: relative;
    @media (max-width: $devise_sp_max_width) {
      display: none;
    }
    > img {
      border-bottom: 2px solid #1db3ce;
      position: absolute;
      @media (max-width: $devise_sp_max_width) {
        display: none;
      }
    }
  }
  .faq-list-border-sp {
    margin-top: 50px;
    @media (min-width: $devise_tb_min_width) {
      display: none;
    }
    img {
      border-bottom: 2px solid #1db3ce;
      @media (min-width: $devise_tb_min_width) {
        display: none;
      }
    }
  }
  .faq-main-box {
    width: 100%;
      @media (max-width: $devise_sp_max_width) {
        box-sizing: border-box;
        padding: 0 vw(20);
      }
    .category-main-title.faq {
      margin-bottom: 25px;
      margin-top: 35px;
      position: static;
    }
    .faq-qa-area {
      > dt {
        align-items: center;
        display: flex;
        font-size: 0;
        line-height: 0;
        .q-text-wrap {
          align-items: center;
          border-bottom: 1px solid #333333;
          box-sizing: border-box;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          padding: 12px;
          padding-right: 0;
          width: 100%;
          .q-text {
            color: #1db3ce;
            font-size: 15px;
            font-weight: bold;
            line-height: 24px;
            width: 90%;
            @media (max-width: $devise_sp_max_width) {
              font-size: vw(14);
            }
          }
          .q-icon {
              position: relative;
              top: -10px;
              width: 10%;
              &::before {
                background-color: #000;
                bottom: 0;
                border: none;
                content: "";
                display: block;
                height: 1px;
                margin: auto;
                position: absolute;
                right: 5px;
                transition: 0.2s;
                transform: rotate(90deg);
                top: 12px;
                width: 5px;
              }
              &::after {
                background-color: #000;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                margin: auto;
                position: absolute;
                right: 5px;
                top: 12px;
                width: 5px;
              }
              &.cross::before {
                background-color: #000;
                bottom: 0;
                border: none;
                content: "";
                display: block;
                height: 1px;
                margin: auto;
                position: absolute;
                right: 5px;
                top: 12px;
                transition: 0.2s;
                transform: rotate(0deg);
                width: 5px;
              }
              &.cross::after {
                background-color: #000;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                margin: auto;
                position: absolute;
                right: 5px;
                top: 12px;
                transition: 0.2s;
                transform: rotate(0deg);
                width: 5px;
              }
          }          
        }
      }
      .a-text {
        box-sizing: border-box;
        color: #333333;
        font-size: 15px;
        line-height: 24px;
        padding: 10px 0 15px 15px;
        text-align: left;
        @media (max-width: $devise_sp_max_width) {
          font-size: vw(14);
        }
        > a {
          text-decoration: underline;
          &:hover {
            opacity: 0.6;
            transition: 0.5s;
          }
        }
      }
    }
    .prev-btn-white.top-faq {
      margin-bottom: 30px;
    }
  }
}

/////// Instagram 埋め込み ///////
section.instagram-main-area {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 1100px;
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(120);
    max-width: 100%;
  }
  .embedsocial-hashtag {
    > a {
      > img {
        display: none !important;
      }
    }
  }
  .es-widget-container {
    padding: 0 !important;
  }
  .es-widget-header-details-text {
    display: none;
  }
}

/////// CONTACT お問い合わせ　///////
section.contact-main-page {
  box-sizing: border-box;
  cursor: unset;
  margin-bottom: 150px;
  margin-top: 120px;
  position: relative;
  padding: 0 20px;
  @media (max-width: $devise_sp_max_width) {
    margin-bottom: vw(80);
    margin-top: vw(80);
    padding: 0 vw(20);
  }
  .contact-bg-blue {
    margin: 0 auto;
    width: 830px;
    height: 430px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding-top: 100px;
    @media (max-width: $devise_tb_max_width) {
      background-color: #1db3ce;
      border-radius: 30px;
      background-image: none;
      width: 100%;
      height: auto;
      padding-bottom: 40px;
    }
    @media (max-width: $devise_sp_max_width) {
      border-radius: vw(30);
      height: auto;
      padding-bottom: vw(30);
    }
    .contact-title {
      padding-top: 40px;
      width: 98px;
      margin: 0 auto;
      @media (max-width: $devise_sp_max_width) {
        padding-top: vw(30);
        width: vw(98);
      }
    }
    .main-txt {
      margin-top: 10px;
      color: #ffffff;
      letter-spacing: 0.14em;
      line-height: 25px;
      text-align: center;
      @media (max-width: $devise_sp_max_width) {
        box-sizing: border-box;
        font-size: vw(10);
        line-height: vw(18);
        padding: 0 vw(10);
      }
    }
    .contact-txt-area {
      width: 670px;
      margin: 35px auto 0;
      padding-bottom: 20px;
      position: relative;
      text-align: center;
      @media (max-width: $devise_sp_max_width) {
        width: 94%;
        margin-top: vw(15);
        padding-bottom: vw(20);
      }
      .img-left {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        @media (max-width: $devise_sp_max_width) {
          width: vw(60);
        }
      }
      .img-right {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        position: absolute;
        top: 0;
        right: 0;
        @media (max-width: $devise_sp_max_width) {
          width: vw(60);
        }
      }
      .text-center {
        display: inline-block;
        .contact-txt {
          color: #ffffff;
          font-size: 20px;
          font-weight: bold;
          line-height: 21px;
          text-align: center;
          padding-top: 25px;
          @media (max-width: $devise_sp_max_width) {
            font-size: vw(18);
            line-height: vw(17);
          }
        }
        .contact-time {
          color: #ffffff;
          letter-spacing: 0.01em;
          line-height: 12px;
          margin: 0 auto;
          position: relative;
          width: 350px;
          @media (max-width: $devise_sp_max_width) {
            font-size: vw(12);
            line-height: vw(14);
            width: vw(190);
          }
          dl {
            display: flex;
            padding-top: 15px;
            text-align: left;
          }
          dt {
            width: 100px;
            @media (max-width: $devise_sp_max_width) {
              width: 75px;
            }
          }
        }
      }
    }
  }
}


#page-top {
  padding-top: 85px;  
  .prev-btn-blue,
  .prev-btn-white {
    width: 270px;
    @media (max-width: $devise_sp_max_width) {
      width: 65%;
    }
    &.contact {
      margin-top: 10px;
      width: 30%;
      @media (max-width: $devise_sp_max_width) {
        width: 70%;
      }
    }
  }
}
